* {
  box-sizing: border-box;
}

html{
min-height: 100%;
}

body {
margin: 0;
padding: 0;
font-family: "Poppins";
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
background-color:white;
}

form {
  margin-top: 5px;
  margin-left: 10x;
  margin-right: 10px;
}

.instructions {
  font-size: 30px;
}
nav ul a {
  padding: 0 12px;
  font-size: .9rem;
  margin-right: -18px;
}
a.brand-logo {
  text-align: left;
  font-size: 20px;
  max-width: 100%;
}

@media screen and (min-width: 1000px) {
  body {
      max-width: 1000px;
  }
}

@media screen and (min-width: 1200px) {
  body {
      max-width: 1200px;
  }
}

@media screen and (min-width: 1400px) {
  body {
      max-width: 1400px;
  }
}

@media screen and (min-width: 1600px) {
  body {
      max-width: 1600px;
  }
}

@media screen and (min-width: 1800px) {
  body {
      max-width: 1800px;
  }
}